<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap" rel="stylesheet" />

    <style>
      @font-face {
        font-family: 'Thunder';
        src: url('/assets/Thunder-BlackLC.ttf');
      }

      * {
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
      }

      input[type='text'],
      textarea {
        border: none;
        outline: none;
      }
    </style>
    <title>Local Server</title>
  </head>
  <body style="background-color: #7e22ce" class="flex flex-col min-h-screen items-center">
    <div class="max-w-3xl w-full items-center">
      <div class="flex flex-col w-full">
        <div class="flex flex-col items-start self-center w-[600px] pt-[160px]">
          <span class="text-[172px] self-start leading-[0.75] uppercase text-white" style="font-family: 'Thunder', sans-serif; font-weight: 900" class="text-[178px] text-white py-10">
            Kessoku <br />
            Database
          </span>
          <div class="flex flex-row py-[12px] px-[16px] items-center rounded-xl shrink self-start" style="background-color: #984ed8">
            <i class="fa fa-solid fa-home fa-md mr-[16px]" style="color: #fff"></i>
            <span class="flex item-center content-center text-white">Back to home</span>
          </div>
        </div>
      </div>
      %s
    </div>
  </body>
</html>
